{{#each posts as |post|}}
    <div>

   <article class="post"></article>
     
 {{#each posts as |post| }}
        {{> post-info post}}
    {{/each}}

        </article>
  
    </div>

    {{/each}}




